name: Build and Publish Custom Cowrie

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: python -m pip install -q --upgrade pip setuptools setuptools-scm wheel

      - name: Generate version file
        run: echo "SETUPTOOLS_SCM_PRETEND_VERSION_FOR_COWRIE=$(python -m setuptools_scm --force-write-version-files)" >> $GITHUB_ENV

      - name: Set SOURCE_DATE_EPOCH
        run: echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Normalize repository to lowercase
        id: repo
        run: echo "lower=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build custom Cowrie image
        id: build
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          context: .
          tags: cowrie-llm:test
          file: docker/Dockerfile

      - name: Test
        run: |
          docker run -d --rm cowrie-llm:test

      - name: Push Container Image
        id: push
        if: ${{ (github.event_name != 'pull_request') && (github.repository == 'EPFPhmiw47mosLJR/cowrie-llm') }}
        uses: docker/build-push-action@v6
        with:
          file: docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          context: .
          push: true
          load: false
          sbom: true
          provenance: true
          tags: ghcr.io/${{ steps.repo.outputs.lower }}/cowrie-llm:latest
